@use "utils";

.artikel-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and(min-width: utils.$bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

  > * {
    flex-basis: 100%;
  }

  .artikel-mainimage {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0 0 0/25%);
  }
}

.artikel-actions {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin-top: .75rem;
  @media screen and(min-width: utils.$bp-tablet) {
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  p {
    font-weight: 800;
  }
}

.kauf-optionen {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  > * {
    flex-basis: 100%;
  }
  @media screen and(min-width: utils.$bp-tablet) {
    flex-direction: row;
  }
}

.kauf-option {
  background-color: #f3f3f3;
  border-radius: 15px;
  text-align: center;
  padding: 1.5rem;
  transition-duration: .25s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0 0 0/15%);
  }
  p {
    margin-bottom: 1rem;
  }
  > span {
    font-size: 3rem;
  }
  @media screen and(min-width: utils.$bp-tablet) {

  }
}
#duwollenkaufen {
  background: linear-gradient(to bottom right, utils.pastellize(utils.$col-primary,45), utils.pastellize(utils.$col-secondary,20));
  border-radius: 15px;
  padding: 2rem;
}

.simmilar-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: .75rem;
  @media screen and (min-width: utils.$bp-tablet) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.25rem;
  }
}

.bewertungen {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
  .bewertung {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
  }
  img {
    width: 150px;
    height: 150px;
    display: flex;
    margin-inline: auto;
    border-radius: 10px;
  }
}

.bewertung-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @media screen and (min-width: utils.$bp-desktop) {
    grid-template-columns: 350px 1fr;
  }
}

.gesamtbewertung {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 1.75rem;
    }
  }
  .info {
    font-size: .9rem;
    text-align: left;
    margin-top: 3.5%;
    @media screen and(min-width: utils.$bp-tablet) {
      margin-top: 2.5rem;
    }
  }
  .icon {
    display: flex;
    font-size: 7.5rem !important;
    color: utils.$col-secondary;
  }
}